@if (showModal()) {
  <div class="verticalAndHorizontalAlignmentContainer1">
    <div class="verticalAndHorizontalAlignmentContainer2">
      <div class="verticalAndHorizontalAlignmentContainer3">
        <div class="modalAttention">
  
          <div><p>Are you sure you want to delete your pasted in image?</p></div>
  
          <button class="standardButton" type="button" (click)="closeModal()">Cancel</button>
          <button class="standardButton" type="button" (click)="deleteBackgroundImage()">Yes</button>
  
        </div>
      </div>
    </div>
  </div>
}

@if (showGuide()) {
  <div class="guideOverlay">
    <div class="guideCard">
      <div class="guideTitle">Welcome to the Skeleton Builder</div>
      <div class="guideBody">Start with a template or right click the canvas to add shapes. Use the tools on the right to fine-tune sizing, color, and shimmer effects.</div>
      <div class="guideList">
        <div>1. Pick a template (blog, list, video, blank).</div>
        <div>2. Right click to add circles or rectangles.</div>
        <div>3. Paste a screenshot to align shapes.</div>
        <div>4. Copy CSS/HTML from the bottom.</div>
      </div>
      <button type="button" class="standardButton" (click)="dismissGuide()">Got it</button>
    </div>
  </div>
}

<app-design-view
  [selectedTemplate]="selectedTemplate()"
  [showTips]="showTips()"
  [designCanvasTempBackgroundImage]="designCanvasTempBackgroundImage()"
  [tempBackgroundXPos]="tempBackgroundXPos()"
  [tempBackgroundYPos]="tempBackgroundYPos()"
  [designData]="designData()"
  [highlightedItem]="highlightedItem()"
  [canvasPropertiesForm]="canvasPropertiesForm"
  [determineRectangleWidth]="determineRectangleWidth.bind(this)"
  [determineRectangleHeightDesignView]="determineRectangleHeightDesignView.bind(this)"
  (templateSelect)="createTemplate($event)"
  (toggleTips)="showTips.set(!showTips())"
  (contextMenu)="open($event, $event)"
  (paste)="onPaste($event)"
  (clickedOutside)="onClickedOutside($event)"
  (itemClick)="highlightItem($event.index, $event.item)"
  (dragEnded)="onShapeDragEnd($event.index, $event.event)"
></app-design-view>

<app-tools-panel
  [myForm]="myForm"
  [canvasPropertiesForm]="canvasPropertiesForm"
  [newShapeColor]="newShapeColor()"
  [highlightedItem]="highlightedItem()"
  [selectedType]="selectedType()"
  [opacitySteps]="opacitySteps"
  [showAdvanced]="showAdvancedControls()"
  [canUndo]="canUndo()"
  [canRedo]="canRedo()"
  [presetName]="presetName()"
  [userPresets]="userPresets()"
  (newShapeColorChange)="newShapeColor.set($event)"
  (focusInput)="onFocus()"
  (blurInput)="onBlur()"
  (horizontalPositioningStartingPointChanged)="horizontalPositioningStartingPointChanged()"
  (verticalPositioningStartingPointChanged)="verticalPositioningStartingPointChanged()"
  (widthMeasurementChanged)="widthMeasurementChanged()"
  (widthCalcChanged)="widthCalcChanged()"
  (heightMeasurementChanged)="heightMeasurementChanged()"
  (heightCalcChanged)="heightCalcChanged()"
  (diameterCalcChanged)="diameterCalcChanged()"
  (changeColor)="changeColor($event)"
  (syncHeight)="syncHeight()"
  (addOpacityStep)="addOpacityStep()"
  (removeOpacityStep)="removeOpacityStep($event)"
  (generate)="generate()"
  (changeCanvasColorBasedOnShimmerType)="changeCanvasColorBasedOnShimmerType()"
  (toggleAdvanced)="showAdvancedControls.set(!showAdvancedControls())"
  (undo)="undo()"
  (redo)="redo()"
  (presetNameChange)="updatePresetName($event)"
  (savePreset)="savePreset()"
  (loadPreset)="loadPreset($event)"
  (deletePreset)="deletePreset($event)"
  (exportPresets)="exportPresets()"
  (importPresets)="importPresets($event)"
></app-tools-panel>

<app-result-view [randomSkeletonName]="randomSkeletonName"></app-result-view>
<app-result-code [generatedCss]="generatedCss()" [randomSkeletonName]="randomSkeletonName"></app-result-code>




<ng-template #userMenu let-position>
  <section class="user-menu">
    <div (click)="addCircle(position);close();">Add Circle</div>
    <div (click)="addRectangle(position);close();">Add Rectangle / Square</div>
  </section>
</ng-template>
